# postgres
POSTGRES_USER=tt_user
POSTGRES_PASSWORD=test2
POSTGRES_DB=tourtap_db

POSTGRES_URL=postgres://tt_user:test2@db:5432/tourtap_db?sslmode=disable

# rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# app
TOURTAP_PORT=8080

# jwt
JWT_SECRET=FxuATByrigIdNBgDjp/F3mfc0k5RtWOIXB21cnA0HAM8z3pOYBKYxCeX9qi3XZZ9eh+92t7Y9KE2zugOIzhYmQ==
